.beginning-container {

    .beginning-landing {
        position: relative;
        height: 80vh;

        .shadow-beginning {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--black-0));
        }

        .beginning-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        .desc-beginning {
            position: absolute;
            margin: 30px;
            bottom: 20%;
            left: 0;
            z-index: 3;

            h1 {
                font-size: 65px;
                line-height: 75px;

                span {
                    background: -webkit-linear-gradient(45deg, var(--pink), var(--indigo));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            p {
                width: 300px;
                font-size: var(--fz-sm);
                margin-top: 20px;
                color: var(--white-8);
            }
        }

        .beginning-header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 4;
            padding: 15px 30px;

            .header-left {
                display: flex;
                align-items: center;
                gap: 20px;

                form {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 300px;
                    background: var(--black-2);
                    padding: 7px 14px;
                    border-radius: var(--border-5);

                    svg {
                        color: var(--black-7);
                    }

                    input {
                        font-size: var(--fz-xs);
                    }
                }
            }

            .header-right {
                display: flex;
                align-items: center;
                gap: 5px;
                background: rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(10px);
                padding: 2px;
                border-radius: var(--border-5);

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                p {
                    font-size: var(--fz-xs);
                    font-weight: 500;
                    margin-right: 10px;
                }
            }
        }
    }

    .beginning-sections {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .promotions-container {

            h1 {
                margin-bottom: 20px;
            }

            .grid-promotions {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .promotion-item {
                    position: relative;
                    padding: 30px;
                    background: var(--gradient-2);
                    //border: 1px solid var(--black-4);
                    border-radius: var(--border-4);
                    display: flex;
                    align-items: center;
                    height: 330px;
                    overflow: hidden;

                    .desc-item {
                        width: 50%;

                        span {
                            font-size: var(--fz-xs);
                        }

                        h2 {
                            margin: 10px 0;
                            font-size: var(--fz-3xl);
                        }
                    }

                    img {
                        position: absolute;
                        width: 300px;
                        right: 0;
                    }

                    &:nth-child(2) {
                        background: var(--black-2);
                    }
                }
            }
        }

        .ad-team {
            position: relative;

            img {
                width: 100%;
                border-radius: var(--border-4);
                z-index: 1;
                filter: opacity(.5);
                cursor: pointer;
            }

            span {
                position: absolute;
                top: 0;
                right: 0;
                margin: 30px;
                padding: 5px 20px;
                border-radius: var(--border-5);
                background: var(--gradient-1);
                z-index: 2;
            }

            &:hover img {
                filter: opacity(1);
            }
        }

        .products-container {
            
            h1 {
                margin: 20px 0;
            }

            .grid-products {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;

                .products-item {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    background: var(--black-2);
                    //border: 1px solid var(--black-4);
                    border-radius: var(--border-4);
                    transition: var(--transition);
                    overflow: hidden;

                    .img-item {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 250px;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .desc-item {

                        .desc-header {
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            justify-content: space-between;

                            h2 {
                                font-size: var(--fz-md);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            span {
                                background: var(--black-3);
                                color: var(--white-8);
                                font-size: var(--fz-xxs);
                                padding: 3px 10px;
                                border-radius: var(--border-5);
                            }
                        }

                        .desc-footer {
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            justify-content: space-between;
                            margin-top: 5px;

                            span {
                                color: var(--white-5);
                                font-size: var(--fz-xxs);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            p {
                                color: var(--cyan);
                                font-size: var(--fz-sm);
                                font-weight: 600;
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-10px);
                        transition: var(--transition);
                    }
                }
            }
        }

        .setup-container {
            position: relative;
            height: 400px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--border-4);
                z-index: 1;
            }

            div {
                position: absolute;
                margin: 30px;
                z-index: 2;

                h1 {

                    font-size: 50px;
                    line-height: 50px;
                    z-index: 2;
                }

                p {
                    margin: 20px 0;
                    font-size: var(--fz-xl);
                }
            }
        }
    }
}