footer {
    padding: 80px 30px;
    background: var(--black-1);
    //border-radius: var(--border-4);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 100px;

    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        img {
            width: 40px;
            object-fit: cover;
        }

        ul {
            h1 {
                font-size: var(--fz-xs);
                font-weight: 700;
                //font-family: var(--ff-2);
                //text-transform: uppercase;
                margin-bottom: 30px;
            }

            p {
                cursor: pointer;
                font-size: var(--fz-xs);
                //font-family: var(--ff-2);
                margin-bottom: 20px;
                color: var(--white-5);
                transition: var(--transition);

                &:hover {
                    color: var(--white-0);
                    transition: var(--transition);
                }
            }
        }
    }

    .social-links {
        display: flex;
        align-items: flex-start;
        gap: 7px;

        div {
            cursor: pointer;
            //background: var(--black-2);
            height: 50px;
            width: 50px;
            border: 1px solid var(--black-3);
            border-radius: var(--border-2);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition);

            svg {
                font-size: var(--fz-4xl);
                color: var(--white-5);
                transition: var(--transition);
            }

            &:hover svg {
                color: var(--white-0);
                transition: var(--transition);
            }

            &:hover {
                background: var(--black-2);
                //border-color: var(--black-5);
                transform: translateY(-5px);
                transition: var(--transition);
            }
        }
    }
}

@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
        padding: 48px 16px;
        gap: 32px;

        .footer-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;

            ul {
                h1 {
                    font-size: var(--fz-sm);
                    margin-bottom: 16px;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}