footer {
    margin-top: 100px;
    padding: 40px 80px;
    background: var(--black-2);
    color: var(--white-4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--ff-2);
    font-size: var(--fz-xs);

    .social-links {
        display: flex;
        align-items: flex-start;
        gap: 7px;

        svg {
            cursor: pointer;
            font-size: var(--fz-4xl);
            color: var(--white-5);
            transition: var(--transition);

            &:hover {
                color: var(--white-0);
                transition: var(--transition);
            }
        }
    }

    .footer-links {

        h1 {
            font-weight: 700;
            color: var(--black-5);
            margin-bottom: 7px;
            margin-top: 20px;
        }

        div {
            display: flex;
            align-items: flex-start;
            gap: 50px;

            p {
                cursor: pointer;
                color: var(--white-1);
                transition: var(--transition);
                margin: 7px 0;

                &:hover {
                    color: var(--blue);
                    transition: var(--transition);
                }
            }
        }
    }

    .line-footer {
        height: 1px;
        width: 100%;
        background: var(--black-4);
        margin: 25px 0;
    }

    .text-footer {
        width: 50%;
        line-height: var(--fz-lg);
    }

    .footer-bottom {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            gap: 25px;

            p {
                cursor: pointer;
                transition: var(--transition);

                &:hover {
                    color: var(--blue);
                    transition: var(--transition);
                }
            }
        }

        img {
            width: 30px;
            object-fit: cover;
        }
    }
}

@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
        padding: 48px 16px;
        gap: 32px;

        .footer-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;

            .logo {
                align-items: flex-start;

                span {
                    margin-top: unset;
                    color: var(--cyan);
                }
            }

            ul {
                h1 {
                    font-size: var(--fz-sm);
                    margin-bottom: 16px;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}