@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Druk Wide Medium';
    src: url('../assets/fonts/DrukWideMedium.woff2') format('woff2'),
        url('../assets/fonts/DrukWideMedium.woff') format('woff');
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    //colors
    --black-0: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-4: #444;
    --black-5: #555;
    --black-7: #777;

    --white-0: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #ccc;
    --white-4: #bbb;
    --white-5: #aaa;
    --white-8: #888888;

    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;

    //gradient
    --gradient-1: linear-gradient(135deg, var(--cyan), var(--indigo));
    --gradient-2: linear-gradient(135deg, rgba(13, 202, 240, 0.5), rgba(103, 16, 242, 0.5));

    //fonts
    --ff-1: 'Inter', sans-serif;
    --ff-2: 'Druk Wide Medium';

    //fonts sizes
    --fz-4xs: 8px;
    --fz-3xs: 10px;
    --fz-2xs: 12px;
    --fz-xs: 14px;
    --fz-sm: 16px;
    --fz-md: 18px;
    --fz-lg: 20px;
    --fz-xl: 22px;
    --fz-2xl: 24px;
    --fz-3xl: 26px;
    --fz-4xl: 28px;
    --fz-5xl: 40px;

    //border radius
    --border-0: 2px;
    --border-1: 4px;
    --border-2: 6px;
    --border-3: 8px;
    --border-4: 16px;
    --border-5: 32px;
    --border-6: 50px;

    //transition
    --transition: .3s ease;
    --transition-2: .15s ease;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: var(--ff-1);
    background: var(--black-0);
    color: var(--white-0);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    font-size: inherit;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}

ul,
li {
    list-style: none;
    font-family: inherit;
    color: inherit;
}

button {
    color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

input {
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

@import './Navbar.scss';
@import './Sidebar.scss';
@import './Footer.scss';
@import './Home.scss';
@import './CheckoutFormStyled.scss';