.sidebar-container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    //justify-content: space-between;
    height: 100vh;
    width: 100%;
    background: var(--black-0);
    padding: 30px;

    .sidebar-top {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: 37px;
            object-fit: cover;
        }

        p {
            text-transform: uppercase;
            font-size: var(--fz-lg);
            line-height: var(--fz-lg);
            //letter-spacing: 5px;
            font-weight: 500;
        }
    }

    .sidebar-center {
        display: flex;
        flex-direction: column;
        gap: 5px;

        a {
            display: flex;
            align-items: center;
            gap: 15px;
            opacity: .6;
            transition: var(--transition);
            font-size: var(--fz-sm);
            background: transparent;
            border-radius: var(--border-5);
            padding: 10px 14px;

            &:hover {
                opacity: 1;
                transition: var(--transition);
                //background: var(--black-2);
            }
        }

        .active {
            opacity: 1;
            background: var(--black-2);
            //color: var(--cyan);
        }
    }
}